<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/board/list.js" defer></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Board</title>
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="">게시판</h1>
        </div>
        <table class="table table-bordered table-hover">
            <tr class="text-center">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            <tr class="ctnt" class="table-active">
                <td class="text-center">1</td>
                <td>테스트 입니다.</td>
                <td class="text-center">ysh</td>
            </tr>
            <tr class="ctnt" class="table-active">
                <td class="text-center">2</td>
                <td>테스트 하세요.</td>
                <td class="text-center">ysh</td>
            </tr>
        </table>
    </div>
</body>

</html>