<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/board/view.js" defer></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Board-View</title>
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 id="boardTitle" class="">제목</h1>
        </div>
        <table class="table table-bordered">
            <tr class="text-right">
                <td>작성자</td>
            </tr>
            <tr class="table-active">
                <td>Content</td>
            </tr>
        </table>
        <div class="">
            <button id="edit" class="btn  btn-dark">수정</button>
            <button id="delete" class="btn  btn-dark">삭제</button>
            <button id="list" class="btn btn-dark">목록</button>
        </div>
    </div>
</body>

</html>