<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="">LOGIN</h1>
        </div>
        <form action="" class="form-control mt-3">
            <input type="text" id="id" class="form-control" placeholder="아이디">
            <input type="password" id="pw" class="form-control mt-1" placeholder="비밀번호">
            <button id="btn" class="btn btn-primary form-control mt-1">로그인</button>
        </form>
    </div>
</body>

</html>